In [9]:
def add(a,b):
    s=a+b
    return s

In [10]:
add(3,2)

5

In [11]:
x=int(input('Ener the 1st num'))
y=int(input('Ener the 2nd num'))
print('sum is',add(x,y))

Ener the 1st num56
Ener the 2nd num96
sum is 152

In [17]:
def largest(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [18]:
largest(889,562,369)

889

In [1]:
scores = [7,8,9,10,11,11]
sc_set = set(scores)
top= max(sc_set)
sc_set.remove(top)
print(max(sc_set))

10

In [2]:
top

11

In [4]:
s1={5,6,8,9,4,7}
s2={6,3,22,5,8}
if s1.intersection(s2):
  print(s1&s2)
else:
    print(s1.union(s2))

{8, 5, 6}

In [5]:
D={'john':[25,32,43],'peter':[87,55,96],'ram':[58,55,43],'meena':[63,79,85]}
n= input('Enter the name to be updated')
if n in D:
    D[n]=[88,77,99]
    print(D)
else:
    print('name not found')

Enter the name to be updatedjohn
{'john': [88, 77, 99], 'peter': [87, 55, 96], 'ram': [58, 55, 43], 'meena': [63, 79, 85]}